<div class="row-1">
    <div class="infos-wrapper">
        <div class="col-left">
            <div class="search-wrapper">
                <div class="mTitle">Tra cứu hồ sơ</div>
                <div class="note">* Nhập mã số hồ sơ mà bạn nhận được từ Hệ thống dịch vụ công trực tuyến hoặc mã số hồ sơ có ghi trên "Giấy tiếp nhận hồ sơ và hẹn trả kết quả" mà bạn nhận được từ Bộ phận một cửa.</div>
                <div class="search">
                        <input id="keyword" name="keyword" placeholder="Tra cứu theo mã số tiếp nhận" type="text"> <input name="secretKey" type="hidden" value="OPENCPSV2">
                        <button type="button" onclick="window.location.href= '/web/cong-dich-vu-cong/tra-cuu-ho-so#/?dossierNo=' + document.getElementById('keyword').value  ">Tra cứu <i class="fa fa-search"></i></button><a href="/web/cong-dich-vu-cong/dich-vu-cong"></a>
                    </div>
            </div>
            <div class="account-action-wrapper">
                <div class="mTitle">Đăng ký tài khoản công dân, doanh nghiệp</div>
                <div class="note">Giúp nộp hồ sơ trực tuyến và dễ dàng quản lý, theo dõi các hồ sơ hành chính công với Bộ KHCN</div>
                <div class="btns">
                    <a href="/web/cong-dich-vu-cong/dang-ky#/login" class="btn-login">Đăng nhập</a>
                    <a href="/web/cong-dich-vu-cong/dang-ky#" class="btn-register">Đăng ký</a>
                </div>
            </div>
            <div class="submit-dossier-wrapper">
                <div class="mTitle">Nộp hồ sơ trực tuyến</div>
                <div id="submit-dossier"></div>
            </div>
        </div>
        <div class="col-right">
            <div class="mTitle">
                <span class="text">Tình hình xử lý hồ sơ</span>
                <div class="year"></div>
            </div>
            <div class="mContent">
                <div class="recieved">
                    Đã tiếp nhận
                    <span id="count-received">0</span>
                    hồ sơ
                </div>
                <div class="solved">
                    Đã giải quyết
                    <span id="count-solved">0</span>
                    hồ sơ
                </div>
                <div class="result">
                    <span id="count-percent">0%</span>
                    Hồ sơ giải quyết trong hạn
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row-2">
    <div class="mTitle">
        <span>
            Hướng dẫn sử dụng hệ thống
            <a href="/web/cong-dich-vu-cong/huong-dan-su-dung-opencps" class="viewmore">
              <span class="fa-stack fa-lg">
                      <i class="fa fa-circle-thin fa-stack-2x"></i>
                      <i class="fa fa-angle-right fa-stack-1x"></i>
              </span> Xem chi tiết
            </a>
        </span>
    </div>
    <div class="step-1">
        <div class="new-layer">
            <img src="/o/bokhoahoccongnghe-theme/images/icon-hdsd-1.png">
            <div class="text">
                <label>Hướng dẫn đăng ký, đăng nhập</label>
                <span>Hướng dẫn đầy đủ các thao tác để đăng ký tài khoản, đăng nhập vào tài khoản đã tạo cho Công dân/ Doanh nghiệp</span>
            </div>
        </div>
    </div>
    <div class="step-2">
        <div class="new-layer">
            <img src="/o/bokhoahoccongnghe-theme/images/icon-hdsd-2.png">
            <div class="text">
                <label>Hướng dẫn Nhập và tra cứu hồ sơ</label>
                <span>Cách thức nhập hồ sơ vào hệ thống và tra cứu hồ sơ theo mã số hồ sơ để biết thông tin kết quả</span>
            </div>
        </div>
    </div>
    <div class="step-3">
        <div class="new-layer">
            <img src="/o/bokhoahoccongnghe-theme/images/icon-hdsd-3.png">
            <div class="text">
                <label>Hướng dẫn sửa đổi, bổ sung và thanh toán phí, lệ phí</label>
                <span>Các bước sửa đổi, bổ sung hồ sơ khi sai lệch, thiếu thông tin, hồ sơ và thanh toán phí, lệ phí giải quyết hồ sơ</span>
            </div>
        </div>
    </div>
    <div class="step-4">
        <div class="new-layer">
            <img src="/o/bokhoahoccongnghe-theme/images/icon-hdsd-4.png">
            <div class="text">
                <label>Hướng dẫn nhận kết quả trả về</label>
                <span>Hồ sơ sau khi đã nộp và thanh toán đầy đủ phí, lệ phí sẽ được trả về qua hệ thống và nhận kết quả theo các bước sau</span>
            </div>
        </div>
    </div>
</div>

<div class="row-3 container">
    <div class="row other-banner">
        <div class="col-sm-4">
            <a href="" target="_blank">
                <img src="/o/bokhoahoccongnghe-theme/images/lvhdkhcn.png" class="img-responsive">
                <span>
                    <label>Hoạt động khoa học và công nghệ</label>
                </span>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="" target="_blank">
                <img src="/o/bokhoahoccongnghe-theme/images/lvatbxhn.png" class="img-responsive">
                <span>
                    <label>Năng lượng nguyên tử An toàn bức xạ</label>
                </span>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="" target="_blank">
                <img src="/o/bokhoahoccongnghe-theme/images/lvshtt.png" class="img-responsive">
                <span>
                    <label>Sở hữu trí tuệ</label>
                </span>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="" target="_blank">
                <img src="/o/bokhoahoccongnghe-theme/images/lvpttl.png" class="img-responsive">
                <span>
                    <label>Phát triển tiềm lực KH&CN</label>
                </span>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="" target="_blank">
                <img src="/o/bokhoahoccongnghe-theme/images/lvtcdlcl.png" class="img-responsive">
                <span>
                    <label>Tiêu chuẩn đo lường chất lượng</label>
                </span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            
            <div class="banners row">
                <div class="col-sm-6">
                    <a href="/web/cong-dich-vu-cong/thu-tuc-hanh-chinh"><img src="/o/bokhoahoccongnghe-theme/images/img-cchc.jpg"></a>
                </div>
                <div class="col-sm-6">
                    <a href="/web/cong-dich-vu-cong/hoi-dap">
                      <img src="/o/bokhoahoccongnghe-theme/images/img-qa.jpg">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="categories-wrapper">
                <a aria-label="Cổng DVCQG" href="https://dichvucong.gov.vn/p/home/dvc-gioi-thieu.html" target="_blank" class="custom-banner">
                    <img alt="Ảnh logo DVCQG" src="/o/bokhoahoccongnghe-theme/images/banner-dvcqg.webp?t=1676618354837" style="
                    border-radius: 10px;
                "></a>
            </div>
        </div>
    </div>
</div>

<!--SSO DVCQG-->
<div class="mPopup" id="updateEmail">
	<div class="popup-header"><span>Cập nhật email sử dụng trên hệ thống</span></div>
	<div class="popup-content"> 
		<input id="newEmail" type="text" placeholder="Nhập email">
	</div>
	<div class="popup-footer">
		<a id="cancel" href="javascript:;" class="popup-btn popup-close">Bỏ qua</a>
		<a id="submit" href="javascript:;" class="popup-btn popup-submit">Đồng ý</a>
	</div>
</div>

<div class="mPopup" id="mappingUser">
	<div class="popup-header"><span>Đăng nhập hệ thống</span></div>
	<div class="popup-content"> 
		<p class="mb-2 text-bold">Email đăng nhập <span class="red--text">(*)</span>:</p>
		<input id="userNameLogin" type="text" placeholder="Nhập email">
		<p class="my-2 text-bold">Mật khẩu <span class="red--text">(*)</span>:</p>
		<input id="passwordLogin" type="password" placeholder="Nhập mật khẩu">
	</div>
	<div class="popup-footer">
		<a id="cancelLogin" href="javascript:;" class="popup-btn popup-close">Bỏ qua</a>
		<a id="submitLogin" href="javascript:;" class="popup-btn popup-submit">Đăng nhập</a>
	</div>
</div>
<!---->

<link href="https://fonts.googleapis.com/css?family=Noto+Serif:700&amp;display=swap&amp;subset=vietnamese" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplebar/4.2.1/simplebar.min.css" integrity="sha256-KuTN+Py9Ut+AuYFyA/Jn+4ENdElDpLe92SYOiFnJr9g=" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/4.2.1/simplebar.min.js" integrity="sha256-HnK5kukrBNKjtb6Agv0oBLwovaMdWG+LfPDnI5BLP2Y=" crossorigin="anonymous"></script>

<script>
    var portalUrl = window.themeDisplay.getPortalURL();
// SSO Cổng DVC Quốc gia
	var pathNameSet = "/web/cong-dich-vu-cong"
	var dataObj = "";
	var getSearchParams =function (prams, key) {
		let value = ""
		let headers = prams.split("&")
		headers.forEach(function (header) {
			header = header.split("=");
			let keyHeader = header[0];
			if (keyHeader === key) {
			  value = header[1]
			}
		});
		return value
	};

	var doChangeEmail = function(oldEmailIn, newEmailIn, techIdIn){
		if (newEmailIn) {
			$.ajax({
				url: '/o/rest/v2/dvcqgsso/changeemail?oldEmail=' + oldEmailIn + '&newEmail=' + newEmailIn + '&techId=' + techIdIn,
				data: {},
				type: 'POST',
				async: false,
				headers: {
					'groupId': window.themeDisplay.getScopeGroupId(),
					'Token': window.Liferay.authToken
				},
				success: function (result, status, xhr) {
					dataObj.state = 'auth';
					doAuth(dataObj);
					$("html").css("overflow", "");
					$("body").removeClass("fog");
					$("#updateEmail").hide();
				  var portalUrl = window.themeDisplay.getPortalURL();
					if (window.themeDisplay.isSignedIn() && (window.location.href === portalUrl + pathNameSet || window.location.href.indexOf(portalUrl + pathNameSet + '#/login-dichvucong') === 0)) {
						window.location.href = portalUrl + pathNameSet + '/dich-vu-cong'
					}
					// 
					if (window.themeDisplay.isSignedIn() && window.location.href.indexOf(portalUrl + pathNameSet + '#/thu-tuc-hanh-chinh/') === 0) {
					  window.location.href = portalUrl + pathNameSet + '/thu-tuc-hanh-chinh' + window.location.hash
					}
				},
				error: function (xhr) {
				}
			})
		}
	};
	
	var doLogin = function(dataIn){
		if ($("#userNameLogin").val() && $("#passwordLogin").val()) {
			$.ajaxSetup({
				headers: {
					'groupId': window.themeDisplay.getScopeGroupId(),
					'Token': window.Liferay.authToken,
					'Authorization': 'BASIC ' + window.btoa($("#userNameLogin").val() + ":" + $("#passwordLogin").val())
				}
			});
			$.post('/o/v1/opencps/login')
			.done(function( data ) {
				if (data === 'ok') {
					$("html").css("overflow", "");
					$("body").removeClass("fog");
					$("#mappingUser").hide();
					dataIn.state = 'mapping'
					doAuth(dataIn);
					setTimeout(function () {
						window.location.reload()
					}, 100)
				} else {
					alert('Tên đăng nhập hoặc mật khẩu không chính xác')
				}
				
			})
		}
		
	};
	var doAuth = function(dataIn){
		$.ajaxSetup({
			headers: {
				'groupId': window.themeDisplay.getScopeGroupId(),
				'Token': window.Liferay.authToken,
				'Content-Type': 'application/json'
			}
		});
		$.post('/o/rest/v2/dvcqgsso/auth', JSON.stringify(dataIn))
		.done(function() {				
		})
	};
	
	var cancelChange = function () {
		window.location.href = window.location.origin + window.location.pathname
	}
	var searchParams = window.location.href.split("?");
	if (searchParams[1]) {
		var dataDVCQG = decodeURIComponent(String(getSearchParams(searchParams[1], "data")));
		if (dataDVCQG) {
			dataObj = JSON.parse(atob(dataDVCQG));
			if (dataObj && dataObj.hasOwnProperty('state') && dataObj.state === 'create') {
			  var oldEmail = dataObj['ThuDienTu'] ? dataObj['ThuDienTu'] : dataObj['TechID'] + '@dvcqg.gov.vn'
				$("#newEmail").val(dataObj['ThuDienTu'] ? dataObj['ThuDienTu'] : '');
				$("html").css("overflow", "hidden !important");
				$("body").addClass("fog");
				$("#updateEmail").show();
				//show dialog
				$( "#submit" ).click(function() {
				  doChangeEmail(dataObj['TechID'] + '@dvcqg.gov.vn', $("#newEmail").val(), dataObj['TechID'])
				});
				$( "#cancel" ).click(function() {
				  $("html").css("overflow", "");
				  $("body").removeClass("fog");
				  $("#updateEmail").hide();
				  cancelChange()
				});
				return
			}
			if (dataObj && dataObj.hasOwnProperty('userId') && String(dataObj.userId) === '0' && !window.themeDisplay.isSignedIn()) {
				$("html").css("overflow", "hidden !important");
				$("body").addClass("fog");
				$("#mappingUser").show();
				//show dialog
				$( "#submitLogin" ).click(function() {
				  doLogin(dataObj)
				});
				$( "#cancelLogin" ).click(function() {
				  $("html").css("overflow", "");
				  $("body").removeClass("fog");
				  $("#mappingUser").hide();
				  cancelChange()
				});
				return
			}
		}
	} else {
		
	}
	var portalUrl = window.themeDisplay.getPortalURL();
	if (window.themeDisplay.isSignedIn() && (window.location.href === portalUrl + pathNameSet || window.location.href.indexOf(portalUrl + pathNameSet + '#/login-dichvucong') === 0)) {
		$("html").css("overflow", "");
		$("body").removeClass("fog");
		$("#mappingUser").hide();
		$("#updateEmail").hide();
		window.location.href = portalUrl + pathNameSet + '/dich-vu-cong'
	}
	// 
	if (window.themeDisplay.isSignedIn() && window.location.href.indexOf(portalUrl + pathNameSet + '#/thu-tuc-hanh-chinh/') === 0) {
		$("html").css("overflow", "");
		$("body").removeClass("fog");
		$("#mappingUser").hide();
		$("#updateEmail").hide();
	  window.location.href = portalUrl + pathNameSet + '/thu-tuc-hanh-chinh' + window.location.hash
	}
    // end SSO DVCQG
    // 
    // 
    if (window.themeDisplay.isSignedIn() && window.location.href === portalUrl + '/web/cong-dich-vu-cong') {
    window.location.href = portalUrl + '/web/cong-dich-vu-cong/dich-vu-cong'
    }
    // 
    if (window.themeDisplay.isSignedIn() && window.location.href.indexOf(portalUrl + '/web/cong-dich-vu-cong#/thu-tuc-hanh-chinh/') === 0) {
    window.location.href = 'https://dichvucong.mpi.gov.vn/web/cong-dich-vu-cong/thu-tuc-hanh-chinh' + window.location.hash
    }

    if (window.themeDisplay.isSignedIn() && window.location.hash.indexOf('#/add-dvc/') === 0) {
    window.location.href = window.location.origin + window.location.pathname + '/dich-vu-cong/' + window.location.hash
    }

    //
    if (window.themeDisplay.isSignedIn()) {
    $("#submit-dossier").html('<a class="btn-submit" href="/web/cong-dich-vu-cong/dich-vu-cong"><i class="fa fa-bookmark" aria-hidden="true"></i> Ấn vào đây để Nộp hồ sơ trực tuyến</a>')
    } else {
    $("#submit-dossier").html('<a class="btn-submit" href="/web/cong-dich-vu-cong/thu-tuc-hanh-chinh"><i class="fa fa-bookmark" aria-hidden="true"></i> Ấn vào đây để Nộp hồ sơ trực tuyến</a>')
    }
    // Data report
    var dataReport;
    var yearReport = (new Date()).getFullYear();
    $('.year').html("Năm " + yearReport)
    var getReport = function(){
    $.ajax({
        url: '/o/rest/statistics?domain=total&agency=total&month=0&year=' + yearReport,
        dataType: 'json',
        type: 'GET',
        async: false,
        headers: {
        'groupId': window.themeDisplay ? window.themeDisplay.getScopeGroupId(): ''
        },
        success: function (result) {
        if (result.data) {
            dataReport = result.data;
            $('#count-percent').html(dataReport[0].ontimePercentage+"%")
            $('#count-received').html(dataReport[0].processCount);
            $('#count-solved').html(dataReport[0].releaseCount);
        }
        },
        error: function (xhr) {
        
        }
    })

    }
    getReport();

    // data danh sách lĩnh vực
    var domainList = [];
    var getDomain = function(){
        $.ajax({
            url: '/o/rest/v2/serviceinfos/statistics/domains',
            dataType: 'json',
            type: 'GET',
            async: false,
            headers: {
            'groupId': window.themeDisplay ? window.themeDisplay.getScopeGroupId(): '',
            'Token': window.Liferay ? window.Liferay.authToken : ''
            },
            success: function (result) {
            if (result.data) {
                domainList = result.data;
                renderDomainList()
            }
            },
            error: function (xhr) {
            
            }
        })

    }
    function renderDomainList () {
        var htmlDomainList = ""
        for (var i = 0; i <= domainList.length - 1; i++) {
            htmlDomainList += '<li><a href="/web/cong-dich-vu-cong/thu-tuc-hanh-chinh#/thu-tuc-hanh-chinh/?domain=' +domainList[i]['domainCode'] + '">'+domainList[i]['domainName']+'</a></li>'
        }
        $('#domain-list').html(htmlDomainList)
    }
    getDomain();

    ////////////
    var getAgency = function () {
        var agencyList = [
            {name: 'Chọn cơ quan', value: ''}
        ];
        var htmlAgency = '<option value="">Chọn đơn vị</option>'
        $.ajax({
            url: '/o/rest/v2/serviceinfos/statistics/agencies',
            dataType: 'json',
            type: 'GET',
            async: false,
            headers: {
                'groupId': window.themeDisplay ? window.themeDisplay.getScopeGroupId(): '',
                'Token': window.Liferay ? window.Liferay.authToken : ''
            },
            success: function (result) {
                if (result.data) {
                    agencyList = result.data;
                    for (var i = 0; i <= agencyList.length - 1; i++) {
                        htmlAgency += '<option value="'+ agencyList[i]['administrationCode'] + '">' + agencyList[i]['administrationName'] + '</option>'
                    }
                    $('#agencySelect').html(htmlAgency)
                }
            },
            error: function (xhr) {
            
            }
        })
    };
    getAgency();
    /////////////////////
    $("#pageService").val("1")
    var totalPage = 0;
    var getServiceList = function(){
        var serviceList = []
        var htmlServiceList = `<tr>
            <th width="45">STT</th>
            <th>Thủ tục</th>
            <th width="150">Lĩnh vực</th>
            <th width="160">Đơn vị</th>
        </tr>`
        $.ajax({
            url: '/o/rest/v2/serviceinfos',
            dataType: 'json',
            type: 'GET',
            async: false,
            headers: {
                'groupId': window.themeDisplay ? window.themeDisplay.getScopeGroupId(): '',
                'Token': window.Liferay ? window.Liferay.authToken : ''
            },
            data: {
                administration: $("#agencySelect").val(),
                keyword: $("#keywordSearch").val(),
                start: Number($("#pageService").val()) * 10 - 10,
                end: Number($("#pageService").val()) * 10
            },
            success: function (result) {
            if (result.data) {
            if (totalPage === 0) {
                    var pageHtml = ''
                    totalPage = Math.ceil(result.total / 10);
                    for (var i = 1; i <= totalPage; i++) {
                        pageHtml += `<option value="${i}">${i}</option>`
                        $('#pageService').html(pageHtml)
                    }
                }
                serviceList = result.data;
                for (var i = 0; i <= serviceList.length - 1; i++) {
                    htmlServiceList += `
                        <tr>
                            <td>${Number($("#pageService").val()) * 10 - 10 + i + 1}</td>
                            <td><div><a href="/web/cong-dich-vu-cong/thu-tuc-hanh-chinh#/thu-tuc-hanh-chinh/${serviceList[i]['serviceInfoId']}">${serviceList[i]['serviceName']}</a></div></td>
                            <td><div>${serviceList[i]['domainName']}</div></td>
                            <td><div>${serviceList[i]['administrationName']}</div></td>
                        </tr>`
                }
                $('#contentTable').html(htmlServiceList)
            }
            },
            error: function (xhr) {
            
            }
        })
    };
    // getServiceList();
    $("#btn-search-service").click(function(){
    $("#pageService").val("1")
    totalPage = 0
    getServiceList();
    });
    $("#pageService").click(function(){
        setTimeout(function () {
            getServiceList();
        }, 200)
    });

    $('#domain-list').attr({'data-simplebar': '', 'data-simplebar-autohide': 'false'});
</script>

<style>
    .row-1 {
        background: url("/o/bokhdt-theme/images/bg-main.jpg") center center no-repeat;
        background-size: cover;
        display: -webkit-box;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        padding: 76px 15px;
    }
    .row-1 .infos-wrapper {
        max-width: 1300px;
        margin: auto;
        width: 100%;
        display: -webkit-box;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
    }
    .row-1 .col-left {
        width: 340px;
        margin-left: 90px;
    }
    .row-1 .search-wrapper {
        text-shadow: -1px -1px 0 #fff, 
                    1px -1px 0 #fff, 
                    -1px 1px 0 #fff,  
                    1px 1px 0 #fff;
        margin-bottom: 45px;
    }

    .row-1 .search-wrapper .mTitle {
        color: #053054;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'Oswald', sans-serif;
        margin-bottom: 5px;
    }
    .row-1 .search-wrapper .note {
        color: #1270be;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .row-1 .search-wrapper .search {
        display: -webkit-box;
        display: flex;	
    }
    .row-1 .search-wrapper .search input {
        width: 100%;
        background-color: white;
        height: 40px;
        padding: 0 10px;
        border: 0;
    }
    .row-1 .search-wrapper .search button {
        background-color: #00aeef;
        color: white;
        padding: 0 10px;
        height: 40px;
        line-height: 38px;
        white-space: nowrap;
        border: 0;
    }
    .row-1 .search-wrapper .search button i {
        margin-left: 5px;
    }
    .row-1 .account-action-wrapper {
        margin-bottom: 30px;
    }
    .row-1 .account-action-wrapper .mTitle {
        font-family: 'Oswald', sans-serif;
        font-size: 16px;
        color: #043f6f;
        text-shadow: -1px -1px 0 #fff, 
                    1px -1px 0 #fff, 
                    -1px 1px 0 #fff,  
                    1px 1px 0 #fff;
        margin-bottom: 5px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .row-1 .account-action-wrapper .note {
        color: #1270be;
        text-shadow: -1px -1px 0 #fff, 
                    1px -1px 0 #fff, 
                    -1px 1px 0 #fff,  
                    1px 1px 0 #fff;
        margin-bottom: 15px;
        font-weight: bold;
    }
    .row-1 .account-action-wrapper .btns {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .row-1 .account-action-wrapper .btns a {
        width: 145px;
        display: inline-block;
        padding: 10px 15px;
        text-align: center;
        color: white;
        text-transform: uppercase;
        position: relative;
    }
    .row-1 .account-action-wrapper .btns a:before {
        content: "";
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
    }
    .row-1 .account-action-wrapper .btns .btn-login {
        background-color: #1270be;
    }
    .row-1 .account-action-wrapper .btns .btn-login:hover {
        background-color: #043f6f;
    }
    .row-1 .account-action-wrapper .btns .btn-register {
        background-color: #00aeef;
    }
    .row-1 .account-action-wrapper .btns .btn-register:hover {
        background-color: #1270be;
    }
    .row-1 .account-action-wrapper .btns .btn-login:before {
        border-top: 41px solid #1270be;
        left: 100%;
        border-right: 30px solid transparent;
    }
    .row-1 .account-action-wrapper .btns .btn-login:hover:before {
        border-top-color: #043f6f;
    }
    .row-1 .account-action-wrapper .btns .btn-register:before {
        border-bottom: 41px solid #00aeef;
        right: 100%;
        border-left: 30px solid transparent;
    }
    .row-1 .account-action-wrapper .btns .btn-register:hover:before {
        border-bottom-color: #1270be;
    }
    .row-1 .submit-dossier-wrapper .mTitle {
        font-family: 'Oswald', sans-serif;
        color: #043f6f;
        margin-bottom: 10px;
        font-size: 16px;
        text-shadow: -1px -1px 0 #fff, 
                    1px -1px 0 #fff, 
                    -1px 1px 0 #fff,  
                    1px 1px 0 #fff;
        text-transform: uppercase;
    }
    .row-1 .submit-dossier-wrapper a {
        display: block;
        background-color: #00bbd3;
        color: white;
        text-align: center;
        padding: 10px;
    }
    .row-1 .submit-dossier-wrapper a i {
        margin-right: 5px;
    }
    .row-1 .submit-dossier-wrapper a:hover {
        background-color: #1270be;
    }
    .row-1 .col-right {
        margin-left: auto;
        width: 330px;
        margin-right: 90px;
        background-color: rgba(255,255,255,0.8);
        text-align: center;
    }
    .row-1 .col-right .mTitle {
        display: -webkit-box;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
        margin-bottom: 5px;
    }
    .row-1 .col-right .mTitle .text {
        position: relative;
        font-size: 16px;
        font-weight: bold;
        display: inline-block;
        background-color: #00aeef;
        padding: 10px 15px;
        text-transform: uppercase;
        color: white;
    }
    .row-1 .col-right .mTitle .text:before {
        content: "";
        position: absolute;
        left: 100%;
        top: 0;
        width: 0;
        height: 0;
        border-top: 44px solid #00aeef;
        border-right: 30px solid transparent;
    }
    .row-1 .col-right .mTitle .year {
        color: #0072bc;
        font-weight: bold;
        margin-right: 20px;
    }
    .row-1 .col-right .mContent {
        position: relative;
        display: -webkit-box;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        text-transform: uppercase;
        padding-bottom: 15px;
    }
    .row-1 .col-right .mContent:before {
        content: "";
        width: 1px;
        height: 85px;
        background-color: white;
        position: absolute;
        top: 15px;
    }
    .row-1 .col-right .mContent span {
        font-size: 24px;
        font-weight: bold;
        line-height: 40px;
        display: block;
    }
    .row-1 .col-right .recieved, 
    .row-1 .col-right .solved {
        display: inline-block;
        margin: 15px 0;
    }
    .row-1 .col-right .result {
        width: 100%;
    }
    .row-1 .col-right .result #count-percent {
        font-size: 36px;
    }
    .btn-submit {
    cursor: pointer
    }
    .row-2 {
        display: -webkit-box;
        display: flex;
        color: white;
    }
    .row-2 .mTitle {
        background: url("/o/bokhdt-theme/images/bg-hdsd.jpg") center center no-repeat;
        background-size: cover;
        font-size: 28px;
        text-transform: uppercase;
        font-weight: bold;
        width: 300px;
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
        font-family: 'Oswald', sans-serif;
        padding: 25px;
        display: -webkit-box;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
    }
    .row-2 .viewmore {
    font-size: 14px;
    }
    .row-2 .fa-stack {
        line-height: normal;
        width: 30px;
        height: 30px;
        margin-top: -6px;
    }
    .row-2 .fa-stack .fa-stack-2x {
        font-size: 30px;
    }
    .row-2 .fa-stack .fa-stack-1x {
        font-size: 14px;
        line-height: 30px;
    }
    .row-2 [class*="step"] {
        padding: 30px 25px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-flex-basis: 0;
        flex-basis: 0;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        display: -webkit-box;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
    }
    .row-2 [class*="step"]:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(54,47,45,0.9);
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .row-2 [class*="step"]:hover {
        background-size: 120% 120%;
    }
    .row-2 [class*="step"]:hover:before {
        background-color: rgba(54,47,45,0.6);
    }
    .row-2 .step-1 {
        background-image: url("/o/bokhdt-theme/images/bg-hdsd-1.jpg");
    }
    .row-2 .step-2 {
        background-image: url("/o/bokhdt-theme/images/bg-hdsd-2.jpg");
    }
    .row-2 .step-3 {
        background-image: url("/o/bokhdt-theme/images/bg-hdsd-3.jpg");
    }
    .row-2 .step-4 {
        background-image: url("/o/bokhdt-theme/images/bg-hdsd-4.jpg");
    }
    .row-2 .new-layer {
        position: relative;
        display: -webkit-box;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
    }
    .row-2 img {
        margin-right: 20px;
    }
    .row-2 label {
        font-size: 16px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        margin-bottom: 10px;
        display: block;
    }
    .row-3 .list-wrapper .mTitle {
        display: -webkit-box;
        display: flex;
    }
    .row-3 .lists table {
        width: 100%
    }
    .row-3 .list-wrapper .mTitle label {
        font-size: 24px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        display: block;
        padding: 0 15px;
        margin: 0;
        line-height: 49px;
    }
    .row-3 .list-wrapper .mTitle span {
        display: block;
        background-color: #f6f6f6;
        padding: 10px 15px;
    }
    .row-3 .list-wrapper .filter-wrapper {
        border-top: 1px solid #d7d7d7;
        border-left: 1px solid #d7d7d7;
        border-right: 1px solid #d7d7d7;
        border-bottom: 5px solid #ebebeb;
        padding: 10px 15px;
        overflow: hidden;
    }
    #agencySelect {
    z-index: 100001;
    }
    #btn-search-service {
    color: #fff;
    background-color: #00aeef;
    float: right;
    margin-top: 10px;
    }
    .row-3 .list-wrapper .filter-wrapper .forms {
        display: -webkit-box;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
    }
    .row-3 .list-wrapper label {
        font-weight: normal;
        margin-right: 15px;
        margin-bottom: 0;
        white-space: nowrap;
    }
    .row-3 .list-wrapper .filter-wrapper select, .row-3 .list-wrapper .filter-wrapper input {
        border: 1px solid #e1e1e1;
        height: 32px;
        padding: 0 10px;
        color: #939393;
        margin-right: 30px;
        flex: 1 1 0;
    }
    .row-3 .list-wrapper .filter-wrapper input {
        margin-right: 0;
    }
    .row-3 .list-wrapper .filter-wrapper a {
        display: inline-block;
        float: right;
        padding: 5px 15px;
        color: white;
        background-color: #00aeef;
        border-radius: 6px;
        margin-top: 15px;
    }
    .row-3 .list-wrapper table {
        border: 1px solid #d7d7d7;
        max-width: 100%;
        table-layout: fixed;
    }
    .row-3 .list-wrapper table th {
        white-space: nowrap;
        padding: 10px;
    }
    .row-3 .list-wrapper table td {
        padding: 10px;
        border-top: 1px solid #d7d7d7;
        vertical-align: top;
    }
    .row-3 .list-wrapper table td a{
    color: black;
    }
    .row-3 .list-wrapper table td div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .row-3 .list-wrapper table th:last-child, .row-3 .list-wrapper table td:last-child {
    display: none;
    }
    .pagination {
    display: inline-block;
    float: right;
    }
    .pagination label {
    font-size: 16px !important;
    }
    .pagination select {
    display: inline-block;
    width: 60px;
    height: 30px !important;
    z-index: 10001;
    }
    .row-3 .categories-wrapper {
        height: 115px;
    }
    .row-3 .categories-wrapper img {
        width: 100%;
        height: 100%
    }
    .row-3 .categories-wrapper .mTitle {
        position: relative;
        font-size: 16px;
        font-weight: bold;
        display: inline-block;
        background-color: #00aeef;
        padding: 10px 15px;
        text-transform: uppercase;
        color: white;
    }
    .row-3 .categories-wrapper .mTitle:before {
        content: "";
        position: absolute;
        left: 100%;
        top: 0;
        width: 0;
        height: 0;
        border-top: 44px solid #00aeef;
        border-right: 30px solid transparent;
    }
    .row-3 .categories-wrapper .cut-off-content {
    overflow: hidden;
        height: 227px;
        padding: 10px 0;
    }
    .row-3 .categories-wrapper ul {
        height: 100%;
    }
    .row-3 .categories-wrapper ul li {
    padding: 0 15px;
    }
    .row-3 .categories-wrapper ul li a {
        position: relative;
        padding: 8px 0 8px 15px;
        display: block;
    }
    .row-3 .categories-wrapper ul li a:hover {
        color: #00aeef;
    }
    .row-3 .categories-wrapper ul li a:before {
        content: "\f0da";
        position: absolute;
        top: 6px;
        left: 0;
        font-family: FontAwesome;
    }
    .row-3 .banners {
        margin: 0 -15px 15px;
    }
    .row-3 .banners img, .row-3 .support img {
        max-width: 100%;
        width: 100%;
    }
    .row-3 .other-banner {
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }
    .row-3 .other-banner > div {
    display: flex;
    }
    .row-3 .other-banner a {
    display: block;
    padding: 10px 50px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: #1270be;
    border-radius: 150px 10px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
    position: relative;
    }
    .row-3 .other-banner a.no-style {
    box-shadow: none;
    padding: 0;
    }
    .row-3 .other-banner a.double-style img:last-child {
    min-width: 0;
    min-height: 0;
    margin-right: 0;
    }
    .row-3 .other-banner a:before {
    content: "\f054";
    font-family: FontAwesome;
    transform: rotate(-45deg);
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 16px;
    color: #cdcdcd;
    }
    .row-3 .other-banner a.no-style:before {
    display: none;
    }
    .row-3 .other-banner a:hover {
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2) inset;
    }
    .row-3 .other-banner a:hover:before {
    color: #043f6f;
    }
    .row-3 .other-banner span span {
    display: block;
    }
    .row-3 .other-banner label {
    font-weight: bold;
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    }
    .row-3 .other-banner img {
    margin-right: 15px;
    }

    /*Dịch vụ công quốc gia*/
        .fog:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.4);
            z-index: 1000;
        }
        .mPopup {
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 1001;
            background-color: white;
            border-radius: 4px;
            width: 100%;
            max-width: 300px;
            display: none;
        }
        .mPopup .popup-header {
            font-weight: bold;
            text-align: center;
            padding: 10px 15px;
            border-bottom: 1px solid #ccc;
        }
        .mPopup .popup-content {
            padding: 10px 15px;
        }
        .mPopup .popup-footer {
            padding: 10px 15px;
            text-align: center;
        }
        .mPopup .popup-footer a {
            display: inline-block;
            border-radius: 4px;
            border: 1px solid #00aeff;
            padding: 6px 12px;
        }
        .mPopup .popup-footer a:hover {
            color: white;
            background-color: #00aeff;
        }
        .mPopup .popup-footer .popup-submit {
            margin-left: 15px;
        }
        .popup-content input {
            background-color: transparent;
            border: 1px solid #04417e;
            border-radius: 4px;
            width: 100%;
            height: 34px;
            padding: 0 5px;
        }
    /**/

    @media screen and (max-width: 1366px) {
        .row-2 .mTitle {
            width: 220px;
            font-size: 24px;
            padding: 25px 10px;
        }
        .row-2 label + span {
            display: none;
        }
    }

    @media screen and (min-width: 768px) {
    .row-3 .other-banner > div:nth-child(4), .row-3 .other-banner > div:nth-child(5) {
        margin-top: 30px;
    }
    }

    @media screen and (max-width: 767px) {
    .row-1 {
        padding: 30px 15px;
    }
    .row-1 .infos-wrapper {
        flex-wrap: wrap;
    }
    .row-1 .col-left {
        margin-left: 0;
        width: 100%;
    }
    .row-1 .search-wrapper {
        margin-bottom: 30px;
    }
    .row-1 .account-action-wrapper .btns a {
        width: auto;
        flex: 1 0 auto;
    }
    .row-1 .col-right {
        width: 100%;
        margin: 30px 0 0;
    }
    .row-1 .col-right .mTitle .text {
        font-size: 14px;
    }
    .row-1 .col-right .mTitle .text:before {
        display: none;
    }
    .row-2 {
        flex-wrap: wrap;
    }
    .row-2 .mTitle {
        width: 100%;
    }
    .row-3 .other-banner {
        flex-wrap: wrap;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .row-3 .other-banner a {
        border-radius: 6px;
        padding: 10px 15px;
        width: 100%;
    }
    .row-3 .other-banner a:before {
        display: none;
    }
    .row-3 .other-banner > div:not(:last-child), .row-3 .banners > div:first-child, .row-3 .support {
        margin-bottom: 15px;
    }
    }
</style>